<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <a class="navbar-brand" href="<%= root_path %>">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="<%= courses_path %>">Cursos <span class="sr-only">(current)</span></a>
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="<%= students_path %>">Estudantes Egresso<span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>